#contestsTitle {
  margin-bottom: 25px;
}

#contests {
  list-style: none;
}

#contests li {
  margin-top: 10px;
  margin-left: -35px;
}

#contentZone {
  padding: 30px;
}

#aboutTitle {
  margin-bottom: 30px;
}

#sites {
    list-style-type: square;
}

#sites li {
    margin: 5px;
}
